{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% include "include/header.html" %}
    <div id="login">
        <div class="container">
            <section class="page_section">
                <div class="col-lg-6 col-lg-offset-3 wow fadeInLeft delay-06s">
                    <div class="form">
                        <form action="" method="post">
                            {% csrf_token %}
                            <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary">Логин</button>
                            <a href="{% url "registration" %}" class="btn btn-primary">Регистрация</a>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
