{% load staticfiles %}
<section id="aboutUs"><!--Aboutus-->
        <div class="inner_wrapper about-us aboutUs-container fadeInLeft animated wow">
            <div class="container">
                <h2>О Нас</h2>
                <h6>A persone who loves Nature and It's creations</h6>
                <div class="inner_section">
                    <div class="row">
                        <div class="col-md-6">
                            <img height="100" class="img-responsive" src="{% static "landing/img/about1.jpg" %}" />
                        </div>
                        <div class="col-md-6">
                            <p>Довольные клиенты и опытные мастера студии ногтевой моды Анастасии Гришаевой – это единая
                                и
                                профессиональная команда! Без Ваших требований не было бы нашего развития. Мы заполучили
                                доверие благодаря усердной ежедневной работе над собой. Посещая различные семинары,
                                курсы
                                повышения квалификации, следя за тенденциями и новинками ногтевого сервиса во всём мире,
                                уверенно можем сказать, что наша команда идёт в ногу со временем и становится лучше, а
                                наши
                                клиенты получают высокое качество, современные услуги и обязательную гарантию! В своей
                                работе мы используем только качественный материал и дорогое оборудование чего не могут
                                себе
                                позволить большинство мастеров не только нашего города но и Украины в целом.
                                Количество девушек в Новомосковске, которые выбрали ногтевую студию Анастасии Гришаевой
                                на
                                начало 2017 года составило 227 постоянных клиентов. Мы с уверенностью заявляем, что нам
                                доверяют, и это наша главная цель!!!</p>
                            <hr>
                            <h3>Выбирая нас Вы выбираете:</h3>
                            <ul class="about-us-list">
                                <li class="points">Маникюр без воды (аппаратный, комбинированный, и классический) и
                                    укреплённую ногтевую пластину
                                </li>
                                <li class="points">Покрытие ногтей только качественным материалом под кутикулу</li>
                                <li class="points">Популярные дизайны (мармелад, слайдер — дизайн, зеркальный блеск,
                                    северное сияние, втирка, инкрустация стразами, cristal pixe, роспись любой
                                    сложности)
                                </li>
                            </ul>


                            <!--.about-us-list -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>