{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

<!--Footer-->
<footer class="footer_wrapper" id="contact">
    <div class="container">
        <section class="page_section contact" id="contact">
            <div class="contact_section">
                <h2>Контакты</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 wow fadeInLeft">
                    <div class="contact_info">
                        <div class="detail">
                            <h4>Торговый центр "Пассаж"(2 Этаж)</h4>
                            <p>г. Новомосковск, Гетьманская, 37а (2 Этаж)</p>
                        </div>
                        <div class="detail">
                            <h4>Наш телефон:</h4>
                            <p>093-90-92-633</p>
                        </div>
                    </div>


                    <ul class="social_links">
                        <li>
                            <a class="btn btn-block btn-social btn-vk" href="https://vk.com/albums228118349">
                                <span class="fa fa-vk"></span>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-block btn-social btn-instagram"
                               href="https://www.instagram.com/grishaeva_nails/">
                                <span class="fa fa-instagram"></span>
                            </a></li>

                    </ul>
                </div>
                {#                <div class="col-lg-8 wow fadeInLeft delay-06s">#}
                {#                    <div class="form">#}
                {#                        <form action="" method="post">#}
                {#                            {% csrf_token %}#}
                {#                            {{ form_client|crispy }}#}
                {#                            <div>#}
                {#                                <button type="submit" class="btn btn-primary">Отправить</button>#}
                {#                            </div>#}
                {#                        </form>#}
                {#                    </div>#}
                {#                </div>#}
                <div id="map" class="col-lg-8"></div>
                <script>
                    function initMap() {
                        var uluru = {lat: -25.363, lng: 131.044};
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 4,
                            center: uluru
                        });
                        var marker = new google.maps.Marker({
                            position: uluru,
                            map: map
                        });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYa8MyMcnM_agTuZe-2LdmWX9_X697JkI&callback=initMap">
                </script>
            </div>
        </section>
    </div>
    <div class="container">
        <div class="footer_bottom"><span>Created by <a href="http://sergssd@gmail.com">Сергей Близнюк & Денис Чепига  2017</a>. </span>
        </div>
    </div>
</footer>