{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

<!--Footer-->
<footer class="footer_wrapper" id="contact">
    <div class="container">
        <section class="page_section contact" id="order">
            <div class="contact_section">
                <h2>Контакты</h2>
            </div>
            <div class="row">
{#                <div class="col-lg-8 wow fadeInLeft delay-06s">#}
{#                    <div class="form">#}
{#                        <form action="" method="post">#}
{#                            {% csrf_token %}#}
{#                            {{ form_client|crispy }}#}
{#                            <div>#}
{#                                <button type="submit" class="btn btn-primary">Отправить</button>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </section>
    </div>
    <div class="container">
        <div class="footer_bottom"><span>Created by <a href="http://sergssd@gmail.com">Сергей Близнюк & Денис Чепига  2017</a>. </span>
        </div>
    </div>
</footer>