{% load staticfiles %}
<section id="aboutUs"><!--Aboutus-->
        <div class="inner_wrapper about-us aboutUs-container fadeInLeft animated wow">
            <div class="container">
                <h2>{{ about.title }}</h2>
{#                <h6>A persone who loves Nature and It's creations</h6>#}
                <div class="inner_section">
                    <div class="row">
                        <div class="col-md-6">
                            <img height="100" class="img-responsive" src="{{ about.image.url }}" />
                        </div>
                        <div class="col-md-6">
                            <p>{{ about.content|safe }}</p>
                            <hr>
                            <h3>Выбирая нас Вы выбираете:</h3>
                            <ul class="about-us-list">
                                <li class="points">Маникюр без воды (аппаратный, комбинированный, и классический) и
                                    укреплённую ногтевую пластину
                                </li>
                                <li class="points">Покрытие ногтей только качественным материалом под кутикулу</li>
                                <li class="points">Популярные дизайны (мармелад, слайдер — дизайн, зеркальный блеск,
                                    северное сияние, втирка, инкрустация стразами, cristal pixe, роспись любой
                                    сложности)
                                </li>
                            </ul>
                            <!--.about-us-list -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>