{% load staticfiles %}
{% load thumbnail %}
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for img in head_images %}
            {% if forloop.first %}
                <div class="active item">
            {% else %}
                <div class="item">
            {% endif %}
        <div class="caption zoomIn wow animated">
            <h2>{{ img.title }}<br/><strong>{{ img.description|upper }}</strong></h2>
        </div>

        <img class="" src="{%  thumbnail img.image 1920x800 crop %}" alt="">
        </div>
        {% endfor %}

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>
