{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block content %}
    {% include "../landing/include/header.html" %}
    <section id="admin">
        <div class="col-lg-8 col-lg-offset-2 wow fadeInLeft delay-06s">
            <div class="form">
                <form action="" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <legend>Загрузка изображений</legend>
                        {% csrf_token %}
                        <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Загрузить</button>
                    </fieldset>
                </form>
                <span>{{ form.errors }}</span>
            </div>
        </div>


        <!-- Portfolio -->
        <section class="content">
            <!-- Container -->
            <div class="container portfolio_title">

                <!-- Title -->
                <div class="section-title">
                    <h2>Галлерея</h2>
                </div>
                <!--/Title -->

            </div>
            <!-- Container -->

            <div class="portfolio-top"></div>

            <!-- Portfolio Filters -->
            <div class="portfolio">

                <div id="filters" class="sixteen columns">
                    <ul class="clearfix">
                        <li><a id="all" href="#" data-filter="*" class="active">
                            <h5>Наши работы</h5>
                        </a></li>
                        <li><a class="" href="#" data-filter=".nature">
                            <h5>Продукция - лаки</h5>
                        </a></li>
                    </ul>
                </div>
                <!--/Portfolio Filters -->

                <!-- Portfolio Wrapper -->
                <div class="isotope fadeInLeft animated wow grid"
                     style="position: relative; overflow: hidden; height: 480px;"
                     id="portfolio_wrapper">
                    {% for photo in photos %}
                        <!-- Portfolio Item -->
                        <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;"
                                class="portfolio-item one-four animals isotope-item effect-oscar">

                            <div class="portfolio_img">
                                <img src="{% thumbnail photo.image 320x320 crop %}" alt="Portfolio 1"></div>
                            <figcaption>
                                <div>
                                    <a href="{{ photo.image.url }}" class="fancybox">
                                        <h2>Внимание<span><br>Топ заказов</span></h2>
                                        <p>Самые восстребованные маникюры месяца</p>
                                    </a>
                                </div>
                            </figcaption>
                        </figure>
                        <!--/Portfolio Item -->
                    {% endfor %}
                </div>
                <!--/Portfolio Wrapper -->

            </div>
            <!--/Portfolio Filters -->


        </section>
        <!--/Portfolio -->
    </section>

{% endblock %}
