{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block content %}
    {#    <div id="registration">#}
    {##}
    {#    </div>#}

    {% include "landing/include/carousel.html" %}

    <!--Header_section-->
    {% include "landing/include/header.html" %}

    <!--Aboutus-->
    {% include "landing/include/about.html" %}

    {% include "landing/include/service.html" %}

    <!-- Portfolio -->
    <section id="Portfolio" class="content">

        <!-- Container -->
        <div class="container portfolio_title">

            <!-- Title -->
            <div class="section-title">
                <h2>Галлерея</h2>
                <h6>Lorem ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci ipsum</h6>

            </div>
            <!--/Title -->

        </div>
        <!-- Container -->

        <div class="portfolio-top"></div>

        <!-- Portfolio Filters -->
        <div class="portfolio">

            <div id="filters" class="sixteen columns">
                <ul class="clearfix">
                    <li><a id="all" href="#" data-filter="*" class="active">
                        <h5>Наши работы</h5>
                    </a></li>
                    <li><a class="" href="#" data-filter=".nature">
                        <h5>Продукция - лаки</h5>
                    </a></li>
                </ul>
            </div>
            <!--/Portfolio Filters -->

            <!-- Portfolio Wrapper -->
            <div class="isotope fadeInLeft animated wow grid"
                 style="position: relative; overflow: hidden; height: 480px;"
                 id="portfolio_wrapper">
                <!-- Portfolio Item -->

                {% for photo in photos %}
                    <!-- Portfolio Item -->
                    <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;"
                            class="portfolio-item one-four animals isotope-item effect-oscar">

                        <div class="portfolio_img">
                            <img src="{% thumbnail photo.image 320x320 crop %}" alt="Portfolio 1"></div>
                        <figcaption>
                            <div>
                                <a href="{{ photo.image.url }}" class="fancybox">
                                    <h2>Внимание<span><br>Топ заказов</span></h2>
                                    <p>{{ photo.description }}</p>
                                </a>
                            </div>
                        </figcaption>
                    </figure>
                    <!--/Portfolio Item -->
                {% endfor %}

            <!--/Portfolio Wrapper -->

        </div>
        <!--/Portfolio Filters -->

        <div class="portfolio_btm"></div>


        <div id="project_container">
            <div class="clear"></div>
            <div id="project_data"></div>
        </div>


    </section>
    <!--/Portfolio -->
    <section id="experience">
        <div class="container">
            <section id="news" class="white-bg padding-top-bottom">
                <div class="section-title">
                    <h2>Отзывы </h2>
                    <h6>Lorem ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci ipsum</h6>

                </div>
                <section id="carousel">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel"
                                     data-interval="3000">
                                    <!-- Carousel indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                                        <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                                    </ol>
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <blockquote>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem,
                                                    veritatis nulla eum laudantium totam tempore optio doloremque
                                                    laboriosam
                                                    quas, quos eaque molestias odio aut eius animi. Impedit temporibus
                                                    nisi
                                                    accusamus.</p>
                                            </blockquote>
                                            <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
                                        </div>
                                        <div class="item">
                                            <blockquote>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem,
                                                    veritatis nulla eum laudantium totam tempore optio doloremque
                                                    laboriosam
                                                    quas, quos eaque molestias odio aut eius animi. Impedit temporibus
                                                    nisi
                                                    accusamus.</p>
                                            </blockquote>
                                            <div class="profile-circle"
                                                 style="background-color: rgba(77,5,51,.2);"></div>
                                        </div>
                                        <div class="item">
                                            <blockquote>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem,
                                                    veritatis nulla eum laudantium totam tempore optio doloremque
                                                    laboriosam
                                                    quas, quos eaque molestias odio aut eius animi. Impedit temporibus
                                                    nisi
                                                    accusamus.</p>
                                            </blockquote>
                                            <div class="profile-circle"
                                                 style="background-color: rgba(145,169,216,.2);"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    {#    </div>#}
                </section>
            </section>
        </div>
    </section>
    <!--Footer-->
    <footer class="footer_wrapper" id="contact">
        <div class="container">
            <section class="page_section contact" id="contact">
                <div class="contact_section">
                    <h2>Контакты</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 wow fadeInLeft">
                        <div class="contact_info">
                            <div class="detail">
                                <h4>Торговый центр "Пассаж"(2 Этаж)</h4>
                                <p>г. Новомосковск, Гетьманская, 37а (2 Этаж)</p>
                            </div>
                            <div class="detail">
                                <h4>Наш телефон:</h4>
                                <p>093-90-92-633</p>
                            </div>
                        </div>


                        <ul class="social_links">
                            <li>
                                <a class="btn btn-block btn-social btn-vk" href="https://vk.com/albums228118349">
                                    <span class="fa fa-vk"></span>
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-block btn-social btn-instagram"
                                   href="https://www.instagram.com/grishaeva_nails/">
                                    <span class="fa fa-instagram"></span>
                                </a></li>

                        </ul>
                    </div>
                    <div class="col-lg-8 wow fadeInLeft delay-06s">
                        <div class="form">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form_client|crispy }}
                                <div>
                                    <button type="submit" class="btn btn-primary">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="container">
            <div class="footer_bottom"><span>Created by <a href="http://sergssd@gmail.com">Сергей Близнюк & Денис Чепига  2017</a>. </span>
            </div>
        </div>
    </footer>

{% endblock %}
