{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block content %}
    {#    <div id="registration">#}
    {##}
    {#    </div>#}

    {% include "landing/include/carousel.html" %}

    <!--Header_section-->
    {% include "landing/include/header.html" %}

    <!--Aboutus-->
    {% include "landing/include/about.html" %}

    {% include "landing/include/service.html" %}

    {% include "landing/include/portfolio.html" %}

    {% include "landing/include/feedback.html" %}

    {% include "landing/include/contacts.html" %}

{% endblock %}
